# MacOS
## Ignore desktop services files.
**/.DS_Store

# Packer
## Ignore cache directories.
packer_cache/
## Ignore crash log files.
crash.log
## Ignore Vagrant boxes.
*.box

# Vagrant
## Ignore Vagrant outputs.
output/
## Ignore Vagrant boxes.
*.box
**/.vagrant
